backup/
Demoes
driver
lost*
*.txt
*.jpg

__pycache__
log/
flask_*
output/

face_model
FZ*

.vscode

edgeboard/
serial
.vscode

configs.json

.ignore/

EBM/
dete_model/
test/model/