{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Edgeboard网络上位机</title>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="../static/css/style.css" >
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../static/js/core.js"></script>
    </head>

    <body> 
        
        <ol id="list-d">
            <div class="log log-title">Detection Logs</div>
        </ol>
        <ol id="list-s">
            <div class="log log-title">Segmention Logs</div>
        </ol>
        <ol id="list-o" class="bt-r2">orders</ol> 
        <div class="container">
            <button class="bt-r1 bt-l1 site" onclick="button(1)">run</button>
            <button class="bt-r2 bt-l1 site" onclick="button(2)">update</button>
            <button class="bt-r3 bt-l1 site" onclick="button(3)">exit</button><br>
            <button class="bt-r1 bt-l2 site" onclick="button(4)"">video_on</button>
            <button class="bt-r2 bt-l2 site" onclick="button(5)"">video_off</button>
            <button class="bt-r3 bt-l2 site" onclick="button(6)"">6</button><br>
            <button class="bt-r1 bt-l3 site" onclick="button(7)"">shot</button>
            <button class="bt-r2 bt-l3 site" onclick="button(8)"">8</button>
            <button class="bt-r3 bt-l3 site" onclick="button(9)"">9</button>
        </div>
        <div style="text-align: center;bottom: 0">
          <img src="../static/img/tmp.jpg" alt="tmpvideocut">
        </div>
    </body>


</html>
