{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Edgeboard网络上位机</title>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="../static/css/style.css" >
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../static/js/core.js"></script>
    </head>

    <body> 
        
        <ol id="list-d">
            <div class="log log-title">Detection Logs</div>
        </ol>
        <ol id="list-s">
            <div class="log log-title">Segmention Logs</div>
        </ol>
        <ol id="list-o" class="bt-r2">orders</ol> 
        <button class="bt-r1 bt-l1 site" onclick="button(1)">按钮1</button>
        <button class="bt-r2 bt-l1 site" onclick="button(2)">按钮2</button>
        <button class="bt-r3 bt-l1 site" onclick="button(3)">按钮3</button>
        <button class="bt-r1 bt-l2 site" onclick="button(4)"">按钮4</button>
        <button class="bt-r2 bt-l2 site" onclick="button(5)"">按钮5</button>
        <button class="bt-r3 bt-l2 site" onclick="button(6)"">按钮6</button>
        <button class="bt-r1 bt-l3 site" onclick="button(7)"">按钮7</button>
        <button class="bt-r2 bt-l3 site" onclick="button(8)"">按钮8</button>
        <button class="bt-r3 bt-l3 site" onclick="button(9)"">按钮9</button>
        <img src="../static/img/tmp.jpg" class="img">

    </body>


</html>
